

.loginWrapper{
  border: 1px solid black;
  width: 360px!important;
  height: 432px;
  gap: 20px;
}

.loginContainer{
  display: grid;
    grid-auto-flow: row;
}

.closeButton{
  display: flex;
  justify-content: end;
}

.title{
  display: flex;
  justify-content: center;
}

.inputandButton{
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  gap: 10px;
}

.input, .button{
  display: flex;
  width: 312px;
  height: 48px;
}

.button{
  width: 320px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #00c471;
  border: none;
  text-align: center;
  display: inline-block;
}

.signinLine {
  position: relative;
  bottom: -8px;
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #f1f3f5;
  border: none;
}

.signinLineTitle {
  padding: 0 8px;
  margin-bottom: 16px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #abb0b5;
  z-index: 1;
  background-color: #fff;
}

.signinLineTitle span {
  font-weight: inherit;
  font-style: inherit;
}
