.loginWrapper {
  border: 1px solid black;
  width: 360px !important;
  height: 432px;
  gap: 20px;
}

.loginContainer {
  display: grid;
  grid-auto-flow: row;
}

.closeButton {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.inputandButton {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  gap: 10px;
}

.input,
.button {
  display: flex;
  width: 312px;
  height: 48px;
}

.button {
  width: 320px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #00c471;
  border: none;
  text-align: center;
  display: inline-block;
}

.options {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.options,
.option {
  font-size: 12px;
  text-decoration: underline;
}

.registerOption {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 20px;
}

.loginOptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.hr{
  border: 1px solid #f1f3f5;
  width: 100px;
  height: 0px;
}

.loginTitle{
  /* border: 1px solid #abb0b5; */
  background-color: white;
  display: flex;
  justify-content: center;
  color: #abb0b5;
  font-size: 11px;
  width: 70px;
}
