.mainPageWrapper {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 112px 462px;
}

.bodyContainer {
  border: 1px solid black;
  /* height: 100%; */
  height: -webkit-fill-available;
  display: flex;
}

.wrapper {
  border: 1px solid #e4e4e4;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.container {
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 259px;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title {
  height: 30px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.subContainer {
  display: grid;
  grid-auto-flow: column;
}

.subTitleContainer,
.headerContainer {
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.subBodyContainer {
  align-items: center;
  grid-template-columns: 122px auto 87px 70px;
  height: 90px;
  gap: 5px;
}

.countContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.countContainer input {
  width: 15px;
}

.image {
  border: 1px solid #e4e4e4;
  width: 85px;
  height: 80px;
}

.hr {
  border: 1.5px solid #e4e4e4;
  width: 100%;
}

.totalPriceContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}

.deleteAll,
.purchaseButton {
  background: #fff;
  cursor: pointer;
  color: #363636;
  border: 1px solid #dbdbdb;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: none;
  width: auto;
  padding: 8px;
}
