.bodyContainer {
  height: 400px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: none;
}

.wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr auto 1fr;
  border: 1px solid black;
  width: 300px;
  /* gap: 5px; */
  /* height: 300px; */
}

.header {
  border: 1px solid red;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px auto;
  gap: 5px;
  align-items: center;
}

.inputStyle {
  width: 200px;
  height: 30px;
}

.imageContainer {
  border: 1px solid green;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px auto;
  gap: 5px;
  align-items: center;
}
.buttonsContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttonsContainer button {
  width: 50px;
}

.list {
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageList {
  border: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
