/* .container {
  border: 1px solid black;
}
.header {
  border: 1px solid red;
  height: 100px;
}
.body {
  border: 1px solid green;
  height: calc(100vh - 100px - 50px);
}
.footer {
  border: 1px solid blue;
  height: 50px;
} */

.container {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  border: 1px solid red;
  height: 100px;
}
.body {
  border: 1px solid green;
  flex: 1;
}
.footer {
  border: 1px solid blue;
  height: 50px;
}
