.wrapper {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.closeButton {
  height: 20px;
  display: grid;
  grid-auto-flow: column;
  text-align: end;
}

.title {
  display: flex;
  justify-content: center;
  height: 20px;
}

.information {
  height: 100px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column-reverse;
}

.button {
  width: 45px;
  height: 25px;
}
