.wrapper {
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
}

.container {
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 230px;
}
