.wrapper {
  border: 1px solid #e4e4e4;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 5px;
  justify-content: center;
  padding-top: 10px;
}

.container {
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 230px;
}
